<h1>Bienvenue sur mon site</h1>
<p>
    
   <% if moussailon_signed_in? %>
    <%= link_to 'Se déconnecter', destroy_moussailon_session_path, method: :delete %>
    <% else %>
    <%= link_to 'se connecter', new_moussailon_session_path %>
    <% end %>
    </p>
